
p{
  margin-left: 30px;
}
h1 + p{
  font-style: italic;
}

h1 + p + p, h1 + p + p + p {
  color: gray;

}

h2 + p , h2 + p + p ,h2 + p + p + p {
  text-decoration: underline;
}

h3 + p + p , h3 + p + p + p {
  color: blue;

}