main {
  background-color: lightgreen;
}

section {
  border: 3px solid darkorange;
}

article {
  background-color: rgb(175, 72, 117);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  padding-left: 30px;
}
p {
  padding-left: 50px;
}