body{
  padding: 40px;
  padding-right: 100px;
}


div  h1{
  color: blue;
  font-family: Arial;
}

div > p{
  color: red;
  text-decoration: underline;
  font-family: Arial;
}

div ~ p{
  color: brown;
}
div + p{
  color: coral;
}
div{
  border: 1px solid black
}

section{
  padding-left:20px;
}